.footer-wrapper {
  background: $nav-background;
  padding: 20px;
}

.contact-wrapper {
  max-width: 300px;
}

.social_link {
  margin-top: 15px;
  display: flex;
  height: 40px;
  padding-left: 10px;
  color: $nav-font-color;
  text-decoration: none;
  line-height: 40px;
  font-size: 1.1em;
  &:hover {
    color: $link-hover-color;
  }
}

.social_link_icons {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
