* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", "Roboto", sans-serif;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  color: $link-hover-color;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mt20 {
  margin-top: 20px;
}

.button {
  // appearance: none;
  border: 0;
  border-radius: 5px;
  background: $link-hover-color;
  // color: #fff;
  padding: 8px 16px;
  font-size: 24px;
}
