.header {
  height: $nav-height;
  background: $nav-background;
  box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, 0.13);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.title__logo {
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.7em;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
}
