.main-wrapp {
  padding-top: $nav-height;
  padding-bottom: 40px;
  background: linear-gradient(rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.8)),
    url(../img/bg_wow.jpg) no-repeat 50% / cover;
  color: white;
}
