@import "fonts";
@import "variables";
@import "header";
@import "footer";
@import "main";
@import "global";

// * {
//   box-sizing: border-box;
// }

// *::before,
// *::after {
//   box-sizing: inherit;
// }

// a {
//   color: inherit;
//   text-decoration: none;
// }

// img {
//   max-width: 100%;
// }

// h1,
// h2,
// h3 {
//   margin: 0;
// }

// body {
//   margin: 0;
//   font-family: "Montserrat", "Roboto", sans-serif;
// }

// .body-wraper {
//   overflow: hidden;
//   width: 100%;
//   position: relative;
// }

// .container {
//   max-width: $content-width;
//   margin: 0 auto;
//   padding: 0 20px;
// }

// .title {
//   color: $link-hover-color;
// }

// .list {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }
