.tictac-wrapp {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box {
  aspect-ratio: 1 / 1;
  background: gray;
  border: 2px solid white;
  cursor: pointer;
}

.circle {
  position: relative;

  &:before {
    content: " ";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 8px solid green;
  }
}

.cross {
  position: relative;
  &:before,
  &:after {
    content: " ";
    position: absolute;
    left: 50%;
    height: 100%;
    width: 8px;
    background-color: red;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.active {
  background: $link-hover-color;
  border: 2px solid black;
}
